#footer {
  padding: 15rem 0;
}
a {
  color: black;
  padding: 1rem 0;
}
.footer__wrapper {
  padding: 6rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.footer__wrapper h2 {
  font-size: 2.2rem;
  padding: 2rem 0;
  color: var(--dark-color);
}
.footer__address {
  width: 20%;
}
.footer__address i {
  color: var(--accent-color);
  padding: 1rem;
  margin: 3rem 0.5rem;
  border: 0.1rem solid var(--accent-color);
  border-radius: 50%;
}
i.active {
  color: var(--light-color);
  background-color: var(--accent-color);
}
.footer__address h2 {
  font-size: 6rem;
  color: var(--dark-color);
  display: inline;
}
.footer__address span {
  color: var(--accent-color);
}
.footer__address span b {
  font-size: 60%;
  color: black;
  display: table-caption;
}

.footer__address p {
  font-size: 2rem;
  color: var(--secondry-color);
}
.footer__resource {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__news p {
  font-size: 2rem;
  color: var(--secondry-color);
  font-weight: 700px;
}
.footer__news--form {
  width: 30rem;
  padding: 1rem 0;
  position: relative;
}
.footer__news input {
  /* margin: 1px;*/
  padding: 1rem;
  width: 100%;
  outline: none;
  height: 4.5rem;
  border: 0.1rem solid var(--dark-color);
  border-radius: 0.4rem;
  font-size: 1.5rem;
}

.footer__news button {
  position: absolute;
  border-radius: 5px;
  right: 5px;
  z-index: 2;
  border: none;
  top: 14px;
  transform: translateX(2px);
}
