*  , *::before , *::after {
    box-sizing: border-box;
}
p {
    padding: 10px 20px 10px 20px; /* tl tr bl br */
    border : 5px solid red;
    padding:0;

}
.box::before {
    content: "Hello";
}
.box {
    width:100px;
    height: 100px;
    background-color: gold;
    display: inline-block;
}