@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  /* background-color: #ddd6fe; */
  height: 3000px;
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2.5rem;

  min-height: 100vh;
  display: grid;
  place-items: center;
}

.hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.text {
  display: flex;
  flex-direction: column;
  width: 50%;
}

h1 {
  font-size: 2rem;
}

p {
  margin-top: 0.5rem;
}

.hero-container button {
  margin-right: auto;
  padding: 0.6rem 1.5rem;
  margin-top: 1rem;
  background-color: #ff725e;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.hero-container button:hover {
  background-color: #263238;
}

.img-wrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .text,
  .img-wrapper {
    width: 100%;
  }

  .img-wrapper {
    margin-top: 2rem;
  }
}

/* header designing */
header {
  width: 100%;
  background-color: #263238;

  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
}

.nav-link {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
  border: none;

  background-color: transparent;
  font-size: 1.1rem;
  padding: 1rem 0;

  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 1.1rem;
}

nav ul {
  list-style-type: none;

  display: flex;

  padding: 1rem 0;
  transform: translateX(0);
}

nav ul li {
  margin-left: 1rem;
}

@media screen and (max-width: 767px) {
  nav button {
    display: inline-block;
  }

  nav ul {
    position: fixed;
    left: 0;
    right: 0;
    /* top: 0; */

    border-top: 1px solid #ff725e;

    flex-direction: column;

    background-color: #263238;
    padding: 0;
    padding-top: 1rem;

    transform: translateX(100%);
  }

  nav ul li {
    margin-left: 0;
    padding: 0 2.5rem;
    margin-bottom: 1rem;
  }
}

.translate-x-full {
  transform: translateX(100%);
}

.translate-x-0 {
  transform: translateX(0);
}

/* work section */

.work-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 2.5rem;
}

.work-container .heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}

.work-container .heading h2 {
  font-size: 1.8rem;
}

.work-container .heading span {
  display: inline-block;
  margin: 0.25rem 0 1rem 0;
  width: 6rem;
  height: 0.25rem;
  background-color: #ff725e;
}

.work-container .heading p {
  line-height: 1.625;
}

@media screen and (min-width: 1024px) {
  .work-container .heading p {
    width: 75%;
    margin: 0 auto;
  }
}

.work img {
  width: 100%;
  height: 100%;
}

.project {
  display: grid;
  grid-template-columns: 1fr;

  margin-top: 1rem;
  gap: 1rem;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .project {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .project {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project .profile {
  position: relative;
}

.project .profile img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  object-fit: cover;
  object-position: center;
}

.project .profile .desc {
  position: relative;
  padding: 2.5rem;
  z-index: 1;
  background-color: #263238;
  color: #fff;
  opacity: 0;
}

.project .profile .desc p {
  margin-top: 0.5rem;
}

.project .profile .desc:hover {
  opacity: 100%;
}

/* Client section */

.clients-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 2.5rem;
}

.clients-wrapper .heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}

.clients-wrapper .heading h2 {
  font-size: 1.8rem;
}

.clients-wrapper .heading span {
  display: inline-block;
  margin: 0.25rem 0 1rem 0;
  width: 6rem;
  height: 0.25rem;
  background-color: #ff725e;
}

.clients-wrapper .heading p {
  line-height: 1.625;
}

@media screen and (min-width: 1024px) {
  .clients-wrapper .heading p {
    width: 75%;
    margin: 0 auto;
  }
}

.clients-container {
  display: grid;
  gap: 1.5rem;
  margin-top: 1rem;
}

.client-section {
  display: flex;
  align-items: flex-start;
  border: 1px solid #333;
  width: 100%;
  padding: 3rem 5rem;
}

.client-section .client-heading {
  margin-left: 2rem;
}

.client-section .client-heading .position {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.client-section .client-heading .position .badge {
  padding: 0.3rem 0.8rem;
  background-color: #ff725e;
  color: #fff;
}

.client-section .client-heading p {
  margin-top: 0.5rem;
}

@media screen and (max-width: 767px) {
  .client-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
  }

  .client-section .client-heading {
    margin-left: 0;
  }

  .client-section .client-heading .position .badge {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 1024px) {
  .client-section .client-heading .position {
    flex-direction: column;
  }

  .client-section .client-heading .position .badge {
    margin-right: auto;
  }
}
